<x-page>
	<x-data
		name="activePath"
		defaultValue=""
	></x-data>

	<x-data
		name="pageContent"
		defaultValue=""
	></x-data>

	<x-subscribe
		path="pathData"
		handler="pathChange"
	></x-subscribe>

	<x-flow key="pathChange">
		let currentPath = `/${state.pathData.rest || ''}`;

		// Normalize root path
		if (currentPath === '' || currentPath === '/') {
			currentPath = '/';
		}

		if(currentPath === state.activePath) return;
		// console.log('Path changed!', event);
		console.log('currentPath', currentPath);
		SetData('activePath', currentPath);

		// Transform to fragment path for loading content
		const fragmentPath = currentPath === '/' ? 'fragments/home.html' : `fragments${currentPath}.html`;

		SetData('pageContent', '');
		SetData(
			'pageContent',
			Query({ url: fragmentPath })
		 );
	</x-flow>

	<x-data
		name="pathData"
		route="/framework/#/:rest*"
	></x-data>

	<x-box class="standardLayoutContainer">
		<x-include
			href="./menu.html"
			class="menu-sidebar"
		></x-include>

		<x-box class="main-content-area">
			<x-box
				class="loading-area"
				sx:display="WHEN global_pageContent THEN none ELSE flex"
			>
				<x-box class="loading-spinner-svg">
					<svg
						width="100%"
						height="100%"
						viewBox="0 0 44 44"
						fill="none"
						stroke="var(--palettePrimaryMain)"
					>
						<g class="r">
							<circle
								class="c"
								cx="22"
								cy="22"
								r="18"
							/>
						</g>
					</svg>
				</x-box>
			</x-box>
			<x-fragment
				contents="global_pageContent"
				showLoading="false"
			></x-fragment>
		</x-box>
	</x-box>
</x-page>
